.about_container{
    display: grid;
    grid-template-columns: 50% 25%;
    gap: 15%;
    margin-top:2rem;
}

.about_cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.about_card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 2rem;
    padding : 4rem;
    text-align: center;
    transition : var(--transition);
}

.about_card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor:default;
}

.about_icons{
    color: var(--color-primary);
    font-size: 2rem;
}

.about_card h5{
    font-size: 0.95rem;
    color: var(--color-light);
    display: grid;
    grid-row: auto;
}

.about_content p{
    margin: 3rem 0 2.6rem;
    color: var(--color-light);
    width: 100%
}

/*============ MEDIA QUERIES (MEDIUM DEVICES)===============*/
@media screen and (max-width :1024px){
    .about_container {
        grid-template-columns : 1fr;
        gap:0;
    }
    .about_card{
        margin : 1rem 2rem 1.5rem;
    }
    .about_content p{
        margin: 1rem 0 1.5rem;
    }
}


/*============ MEDIA QUERIES (SMALL DEVICES)===============*/

@media screen and (max-width: 600px) {
    .about_container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .about_card{
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin: 20px;
        margin-bottom: 5px;
        height: 280px;
    }

    .about_content{
        text-align: center;
    }
    .about_content p {
            margin: 3rem 0 2.6rem;
            color: var(--color-light);
            width: 100%
    }
    .about_card h4{
        font-size: 1rem;
    }
}